<div class="lg:flex justify-evenly flex-wrap lg:gap-4 md:my-5">
    <p-carousel
        [value]="resumoMeses()"
        [numVisible]="1"
        [numScroll]="1"
        [circular]="false"
        [responsiveOptions]="responsiveOptions"
        [page]="5"
        class="lg:block w-full"
    >
        <ng-template #item let-resumo>
            <div class="flex flex-col items-center gap-2 px-4 pb-3">
                <h2 class="text-lg font-semibold text-cinza mb-2">
                    {{ resumo.mes + '-01' | date: 'MMMM yyyy' : '' : 'pt-BR' | titlecase }}
                </h2>

                <div class="grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-4 gap-4 w-full">
                    @for (card of getCardsDoMes(resumo); track card.titulo) {
                        <div
                            class="bg-white dark:bg-gray-800 shadow-lg rounded-lg px-3 py-2 w-full md:h-25 min-w-0 grid grid-rows-3 items-center grid-cols-[auto_1fr_auto]"
                        >
                            <div
                                [ngClass]="card.background"
                                class="hidden md:flex row-span-3 rounded-full w-13 h-13 justify-center items-center mr-2"
                            >
                                <i [ngClass]="[card.icone, card.corIcone]" class="text-2xl!"></i>
                            </div>

                            <h3 class="row-start-1 col-start-2 text-sm font-semibold">
                                {{ card.titulo }}
                            </h3>

                            @if (!card.titulo.includes('Renda')) {
                                <p class="row-start-2 col-start-2 text-lg md:text-2xl font-bold">
                                    {{ card.valor }}
                                </p>
                            } @else {
                                <p class="row-start-2 col-start-2 text-lg md:text-xl font-bold">
                                    {{ card.valor }}
                                </p>
                            }

                            <p
                                class="row-start-3 col-start-2 text-xs md:text-sm flex items-center lg:mt-2"
                                [ngClass]="card.corVariacao"
                            >
                                <i [ngClass]="[card.iconeVariacao, 'text-base!', 'mr-2']"></i>
                                {{ card.descricao }}
                            </p>
                        </div>
                    }
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>
