<div class="flex items-center">
    <img src="images/logo_walletfy.png" alt="Logo" class="w-8 h-8 object-contain" />

    <h1 class="text-2xl text-green-600 font-bold pl-2">Walletfy</h1>
</div>

<div class="flex flex-col h-[90%]">
    <nav class="mt-4">
        <ul>
            <li class="hover:bg-[#164F3C] cursor-pointer rounded p-2">
                <a class="text-white">
                    <i class="pi pi-chart-bar mr-3"></i>
                    Dashboard
                </a>
            </li>

            <li class="hover:bg-[#164F3C] cursor-pointer rounded p-2" routerLink="/receita">
                <a class="text-white">
                    <i class="pi pi-calculator mr-3"></i>
                    Receita
                </a>
            </li>

            <li class="hover:bg-[#164F3C] cursor-pointer rounded p-2" routerLink="/gasto">
                <a class="text-white">
                    <i class="pi pi-wallet mr-3"></i>
                    Gastos
                </a>
            </li>

            <li class="hover:bg-[#164F3C] cursor-pointer rounded p-2" routerLink="/categoria">
                <a class="text-white">
                    <i class="pi pi-tag mr-3"></i>
                    Categorias
                </a>
            </li>

            <li class="hover:bg-[#164F3C] cursor-pointer rounded p-2">
                <a class="text-white">
                    <i class="pi pi-cog mr-3"></i>
                    Configurações
                </a>
            </li>
        </ul>
    </nav>

    <footer class="mt-auto">
        <div class="flex-1 h-px bg-gray-500 w-full my-3"></div>
        <div class="flex items-center gap-3">
            <div
                class="bg-green-100 rounded-full w-8 h-8 md:w-12 md:h-12 flex justify-center items-center"
            >
                <i class="pi pi-user text-green-600 text-lg md:text-2xl!"></i>
            </div>
            <div>
                <p class="text-white">Fulano</p>
                <p class="text-gray-400 text-xs md:text-sm cursor-pointer">Ver perfil</p>
            </div>
        </div>
        <div class="flex-1 h-px bg-gray-500 w-full my-3"></div>

        <div class="mt-5 hover:bg-[#164F3C] cursor-pointer rounded p-2">
            <button class="text-white flex items-center w-full" (click)="sair.emit()">
                <i class="pi pi-sign-out text-white mr-3"></i>Sair
            </button>
        </div>
    </footer>
</div>
