:host ::ng-deep .p-fileupload {
    padding: 0 !important;
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

:host ::ng-deep .p-fileupload-header,
:host ::ng-deep .p-fileupload-content {
    padding: 0 !important;
    background: transparent !important;
    border: none !important;
}
