<div
    class="bg-[#013729] h-[95vh] w-40 md:w-64 p-4 shadow-lg rounded-lg m-3 flex flex-col text-xs md:text-base"
>
    <div class="flex flex-row items-center justify-start">
        <figure>
            <img
                src="images/logo_walletfy.png"
                alt="Logo"
                class="w-8 h-8 md:w-10 md:h-10 object-contain"
            />
        </figure>
        <h1 class="text-lg md:text-3xl text-green-600 font-bold pl-2">Walletfy</h1>
    </div>

    <nav class="mt-8">
        <ul>
            <li class="hover:bg-[#164F3C] cursor-pointer rounded p-2">
                <span class="text-white"
                    ><i class="pi pi-chart-bar text-white mr-3"></i>Dashboard</span
                >
            </li>
            <li class="hover:bg-[#164F3C] cursor-pointer rounded p-2" routerLink="/receita">
                <span class="text-white"
                    ><i class="pi pi-arrow-circle-down text-white mr-3"></i>Receitas</span
                >
            </li>
            <li class="hover:bg-[#164F3C] cursor-pointer rounded p-2" routerLink="/gasto">
                <span class="text-white"><i class="pi pi-wallet text-white mr-3"></i> Gastos</span>
            </li>
            <li class="hover:bg-[#164F3C] cursor-pointer rounded p-2" routerLink="/categoria">
                <span class="text-white"><i class="pi pi-tag text-white mr-3"></i>Categorias</span>
            </li>
            <li class="hover:bg-[#164F3C] cursor-pointer rounded p-2">
                <span class="text-white"
                    ><i class="pi pi-cog text-white mr-3"></i>Configurações</span
                >
            </li>
        </ul>
    </nav>

    <footer class="mt-auto mb-5">
        <div class="flex-1 h-px bg-gray-500 w-full my-3"></div>
        <div class="flex items-center gap-3">
            <div
                class="bg-green-100 rounded-full w-8 h-8 md:w-12 md:h-12 flex justify-center items-center"
            >
                <i class="pi pi-user text-green-600 text-lg md:text-2xl!"></i>
            </div>
            <div>
                <p class="text-white">Fulano</p>
                <p class="text-gray-400 text-xs md:text-sm cursor-pointer">Ver perfil</p>
            </div>
        </div>
        <div class="flex-1 h-px bg-gray-500 w-full my-3"></div>

        <div class="mt-5 hover:bg-[#164F3C] rounded p-2">
            <button
                class="text-white flex items-center cursor-pointer w-full text-left"
                (click)="sair.emit()"
                type="button"
            >
                <i class="pi pi-sign-out text-white mr-3"></i>Sair
            </button>
        </div>
    </footer>
</div>
