<div
    class="bg-verde-escuro h-[95vh] w-40 md:w-64 p-4 shadow-lg rounded-lg m-3 mr-0 flex flex-col text-xs md:text-base"
>
    <div class="flex flex-row items-center justify-start">
        <figure>
            <img
                src="images/logo_walletfy.png"
                alt="Logo"
                class="w-8 h-8 md:w-10 md:h-10 object-contain"
            />
        </figure>
        <h1 class="text-lg md:text-3xl text-verde font-bold pl-2">Walletfy</h1>
    </div>

    <nav class="mt-8">
        <ul>
            <li
                class="hover:bg-verde cursor-pointer rounded p-2"
                routerLink="/dashboard"
                [class.bg-verde]="rotaAtual === 'dashboard'"
                (click)="selecionarMenu('dashboard')"
                (keydown.enter)="selecionarMenu('dashboard')"
                (keydown.space)="selecionarMenu('dashboard')"
                tabindex="0"
            >
                <span class="text-branco"
                    ><i class="pi pi-chart-bar text-branco mr-3"></i>Dashboard</span
                >
            </li>

            <li
                class="hover:bg-verde cursor-pointer rounded p-2"
                [class.bg-verde]="rotaAtual === 'receita'"
                routerLink="/receita"
                (click)="selecionarMenu('receita')"
                (keydown.enter)="selecionarMenu('receita')"
                (keydown.space)="selecionarMenu('receita')"
                tabindex="1"
            >
                <span class="text-branco"
                    ><i class="pi pi-calculator text-branco mr-3"></i>Receitas</span
                >
            </li>
            <li
                class="hover:bg-verde cursor-pointer rounded p-2"
                [class.bg-verde]="rotaAtual === 'gasto'"
                routerLink="/gasto"
                (click)="selecionarMenu('gasto')"
                (keydown.enter)="selecionarMenu('gasto')"
                (keydown.space)="selecionarMenu('gasto')"
                tabindex="2"
            >
                <span class="text-branco"
                    ><i class="pi pi-wallet text-branco mr-3"></i> Gastos</span
                >
            </li>
            <li
                class="hover:bg-verde cursor-pointer rounded p-2"
                [class.bg-verde]="rotaAtual === 'categoria'"
                routerLink="/categoria"
                (click)="selecionarMenu('categoria')"
                (keydown.enter)="selecionarMenu('categoria')"
                (keydown.space)="selecionarMenu('categoria')"
                tabindex="3"
            >
                <span class="text-branco"
                    ><i class="pi pi-tag text-branco mr-3"></i>Categorias</span
                >
            </li>
            <li class="hover:bg-verde cursor-pointer rounded p-2">
                <span class="text-branco"
                    ><i class="pi pi-cog text-branco mr-3"></i>Configurações</span
                >
            </li>
        </ul>
    </nav>

    <footer class="mt-auto mb-5">
        <div class="flex-1 h-px bg-cinza w-full my-3"></div>
        <div class="flex items-center gap-3">
            <div
                class="bg-verde-suave rounded-full w-8 h-8 md:w-12 md:h-12 flex justify-center items-center"
            >
                <i class="pi pi-user text-verde text-lg md:text-2xl!"></i>
            </div>
            <div>
                <p class="text-branco">{{ nomeUsuario }}</p>
                <p class="text-cinza text-xs md:text-sm cursor-pointer">Ver perfil</p>
            </div>
        </div>
        <div class="flex-1 h-px bg-cinza w-full my-3"></div>

        <div class="mt-5 hover:bg-verde rounded p-2">
            <button
                class="text-branco flex items-center cursor-pointer w-full text-left"
                (click)="sair.emit()"
                type="button"
            >
                <i class="pi pi-sign-out text-branco mr-3"></i>Sair
            </button>
        </div>
    </footer>
</div>
