<div class="hidden lg:flex justify-evenly flex-wrap lg:gap-4 md:my-5 md:mb-15">
    <div
        class="shadow-lg px-3 grid grid-rows-3 items-center grid-cols-[auto_1fr_auto] py-2 w-72 h-24"
    >
        <div
            class="row-span-3 bg-green-100 rounded-full w-10 h-10 flex justify-center items-center mr-2"
        >
            <i class="pi pi-tag text-green-600"></i>
        </div>
        <h2 class="row-start-1 col-start-2 text-sm font-semibold">Total de categorias</h2>
        <p class="row-start-2 col-start-2 text-sm">12</p>
        <p class="row-start-3 col-start-2 text-sm text-gray-500">
            Categorias cadastradas no sistema
        </p>
    </div>

    <div
        class="shadow-lg px-3 grid grid-rows-3 items-center grid-cols-[auto_1fr_auto] py-2 w-72 h-24"
    >
        <div
            class="row-span-3 bg-green-100 rounded-full w-10 h-10 flex justify-center items-center mr-2"
        >
            <i class="pi pi-check-circle text-green-600"></i>
        </div>
        <h2 class="row-start-1 col-start-2 text-sm font-semibold">Categorias ativas</h2>
        <p class="row-start-2 col-start-2 text-sm">8</p>
        <p class="row-start-3 col-start-2 text-sm text-gray-500">Usadas em pelo menos um gasto</p>
    </div>

    <div
        class="shadow-lg px-3 grid grid-rows-3 items-center grid-cols-[auto_1fr_auto] py-2 w-72 h-24"
    >
        <div
            class="row-span-3 bg-green-100 rounded-full w-10 h-10 flex justify-center items-center mr-2"
        >
            <i class="pi pi-star text-green-600"></i>
        </div>
        <h2 class="row-start-1 col-start-2 text-sm font-semibold">Mais utilizada</h2>
        <p class="row-start-2 col-start-2 text-sm">Flash?</p>
        <p class="row-start-3 col-start-2 text-sm text-gray-500">Aparece em 17 gastos</p>
    </div>

    <div
        class="shadow-lg px-3 grid grid-rows-3 items-center grid-cols-[auto_1fr_auto] py-2 w-72 h-24"
    >
        <div
            class="row-span-3 bg-green-100 rounded-full w-10 h-10 flex justify-center items-center mr-2"
        >
            <i class="pi pi-wallet text-green-600"></i>
        </div>
        <h2 class="row-start-1 col-start-2 text-sm font-semibold">Maior gasto</h2>
        <p class="row-start-2 col-start-2 text-sm">R$ 600,00</p>
        <p class="row-start-3 col-start-2 text-sm text-gray-500">Concentrado em Flash?</p>
    </div>
</div>
