<div class="min-h-screen flex items-center">
    <div class="bg-[#013729] h-[95vh] w-64 p-4 shadow-lg rounded-lg m-3 flex flex-col">
        <div class="flex flex-row items-center justify-start">
            <div>
                <i class="pi pi-wallet text-green-600 text-4xl!"></i>
            </div>
            <h1 class="text-3xl text-green-600 font-bold pl-2">Walletfy</h1>
        </div>

        <nav class="mt-8">
            <ul>
                <li class="hover:bg-[#164F3C] cursor-pointer rounded p-2">
                    <a class="text-white"
                        ><i class="pi pi-chart-bar text-white mr-3"></i>Dashboard</a
                    >
                </li>
                <li class="hover:bg-[#164F3C] cursor-pointer rounded p-2">
                    <a class="text-white"><i class="pi pi-dollar text-white mr-3"></i> Gastos</a>
                </li>
                <li class="hover:bg-[#164F3C] cursor-pointer rounded p-2">
                    <a class="text-white"><i class="pi pi-tag text-white mr-3"></i>Categorias</a>
                </li>
                <li class="hover:bg-[#164F3C] cursor-pointer rounded p-2">
                    <a class="text-white">
                        <i class="pi pi-credit-card text-white mr-3"></i>Formas de Pagamentos
                    </a>
                </li>
                <li class="hover:bg-[#164F3C] cursor-pointer rounded p-2">
                    <a class="text-white"><i class="pi pi-cog text-white mr-3"></i>Configurações</a>
                </li>
            </ul>
        </nav>

        <footer class="mt-auto mb-5">
            <div class="flex-1 h-px bg-gray-500 w-full my-3"></div>
            <div class="flex items-center gap-3">
                <div class="bg-green-100 rounded-full w-12 h-12 flex justify-center items-center">
                    <i class="pi pi-user text-green-600 text-2xl!"></i>
                </div>
                <div>
                    <p class="text-white">Fulano</p>
                    <p class="text-gray-400 text-sm cursor-pointer">Ver perfil</p>
                </div>
            </div>
            <div class="flex-1 h-px bg-gray-500 w-full my-3"></div>

            <div class="mt-5 hover:bg-[#164F3C] cursor-pointer rounded p-2">
                <a class="text-white"><i class="pi pi-sign-out text-white mr-3"></i>Sair</a>
            </div>
        </footer>
    </div>
</div>
