<main class="flex items-center justify-center w-full h-full">
    <div
        class="bg-white dark:bg-gray-800 flex flex-col justify-center md:gap-4 rounded-2xl shadow-lg w-full max-w-2xl p-2 mx-2"
    >
        <div class="flex flex-col items-center justify-center gap-3">
            <div
                class="flex justify-center items-center bg-green-100 rounded-full w-12 h-12 md:w-17 md:h-17"
            >
                <i class="pi pi-user-plus text-verde text-2xl! md:text-4xl!"></i>
            </div>
            <h2 class="hidden md:block font-bold text-base md:text-2xl!">Criar sua conta</h2>
            <p class="hidden md:block text-gray-400">É rápido, fácil e gratuito!</p>
        </div>

        <form class="text-sm md:text-base">
            <div class="flex flex-col md:flex-row mt-1">
                <div class="flex flex-col gap-1 md:px-4 md:w-full">
                    <label for="email">Nome completo</label>
                    <p-iconfield>
                        <p-inputicon class="pi pi-user" />
                        <input
                            id="email"
                            autocomplete="name"
                            class="w-full"
                            type="text"
                            pInputText
                            placeholder="Digite seu nome completo"
                        />
                    </p-iconfield>
                </div>

                <div class="flex flex-col gap-1 mt-1 md:mt-0 md:w-full">
                    <label for="email">E-mail</label>
                    <p-iconfield>
                        <p-inputicon class="pi pi-envelope" />
                        <input
                            id="email"
                            autocomplete="email"
                            class="w-full"
                            type="text"
                            pInputText
                            placeholder="seu@email.com"
                        />
                    </p-iconfield>
                </div>
            </div>

            <div class="flex flex-col md:flex-row">
                <div class="flex flex-col gap-1 md:px-4 mt-1 md:w-full">
                    <label for="senha">Senha</label>
                    <p-iconfield>
                        <p-inputicon class="pi pi-lock" />
                        <p-password
                            id="senha"
                            autocomplete="current-password"
                            [toggleMask]="true"
                            [feedback]="false"
                            placeholder="Crie uma senha"
                            class="w-full"
                            inputStyleClass="w-full"
                        />
                    </p-iconfield>
                </div>

                <div class="flex flex-col gap-1 mt-1 md:w-full">
                    <label for="email">Confirmar senha</label>
                    <p-iconfield>
                        <p-inputicon class="pi pi-lock" />
                        <p-password
                            id="senha"
                            autocomplete="current-password"
                            [toggleMask]="true"
                            [feedback]="false"
                            placeholder="Confirme sua senha"
                            class="w-full"
                            inputStyleClass="w-full"
                        />
                    </p-iconfield>
                </div>
            </div>

            <div class="flex items-center md:items-start gap-1 px-4 mt-3">
                <p-checkbox [binary]="true" />
                <p class="text-sm md:text-base ml-1">
                    Eu concordo com os
                    <a href="#" class="text-verde font-semibold">Termos de Uso</a> e a
                    <a href="/login" class="text-verde font-semibold">Política de Privacidade</a>
                </p>
            </div>
        </form>

        <div class="px-4 py-3">
            <p-button label="Cadastrar" class="w-full" styleClass="w-full" />
        </div>

        <div class="flex items-center gap-2 px-4">
            <div class="flex-1 h-px bg-gray-300"></div>
            <span class="text-sm text-gray-400">ou</span>
            <div class="flex-1 h-px bg-gray-300"></div>
        </div>

        <div class="px-4 py-3">
            <p-button styleClass="w-full" [outlined]="true" severity="secondary">
                <ng-template #content>
                    <div class="flex items-center justify-center gap-2 w-full">
                        <img
                            src="images/google_logo_40x40.png"
                            alt="Logo do Google"
                            width="5"
                            height="5"
                            class="w-5 h-5"
                        />
                        <span class="text-surface font-bold">Entrar com Google</span>
                    </div>
                </ng-template>
            </p-button>
        </div>

        <div class="flex items-center justify-center gap-2 px-4">
            <p class="text-center text-sm md:text-base text-gray-500">
                Já tem uma conta? <a href="/login" class="text-verde">Fazer login</a>
            </p>
        </div>
    </div>
</main>
