@import 'tailwindcss';

@import 'primeicons/primeicons.css';

@variant dark (&:where(.dark-mode, .dark-mode *));

/* CARD */
@theme {
    --color-azul: #155dfc;
    --color-azul-escuro: #155dfc;
    --color-azul-claro: #dbeafe;

    --color-vermelho: #dc2626;
    --color-vermelho-claro: #ffe2e2;
    --color-vermelho-escuro: #991b1b;

    --color-verde: #16a34a;
    --color-verde-claro: #dcfce7;
    --color-verde-escuro: #164f3c;

    --color-amarelo: #facc15;
    --color-amarelo-claro: #fef9c2;
    --color-amarelo-escuro: #eab308;

    --color-cinza: #6b7280;
    --color-cinza-claro: #d1d5dc;

    --color-roxo: #9333ea;
    --color-roxo-claro: #f3e8ff;

    --color-laranja: #ea580c;
    --color-laranja-claro: #ffedd5;
}
