@import 'tailwindcss';

@import 'primeicons/primeicons.css';

@variant dark (&:where(.dark-mode, .dark-mode *));

@theme {
    --color-azul: #155dfc;
    --color-azul-escuro: #155dfc;
    --color-azul-claro: #dbeafe;

    --color-vermelho: #fb2c37;
    --color-vermelho-claro: #ff3838;
    --color-vermelho-escuro: #991b1b;

    --color-verde: #16a34a;
    --color-verde-suave: #dcfce7;
    --color-verde-claro: #05df72;
    --color-verde-escuro: #013729;
    --color-verde-profundo:;

    --color-amarelo: #facc15;
    --color-amarelo-claro: #fef9c2;
    --color-amarelo-escuro: #eab308;

    --color-cinza: #9ca3af;
    --color-cinza-claro: #f3f4f6;
    --color-cinza-escuro: #6a7282;

    --color-roxo: #9333ea;
    --color-roxo-claro: #f3e8ff;

    --color-laranja: #ea580c;
    --color-laranja-claro: #ffedd5;
}
