<aside class="flex h-full">
    <section>
        <h2 class="font-bold text-start text-4xl">
            Organize suas finanças<br />
            de forma
            <span class="text-verde"
                >simples<br />
                e inteligente.</span
            >
        </h2>
        <p class="text-cinza-escuro text-start text-lg my-7">
            Acompanhe seus gastos, crie categorias e tenha <br />controle total do seu dinheiro de
            onde estiver.
        </p>

        <div class="flex items-center gap-3">
            <div class="bg-verde-suave rounded-full w-13 h-13 flex justify-center items-center">
                <i class="pi pi-tag text-verde text-2xl! lg:text-3xl!" aria-hidden="true"></i>
            </div>
            <p>Organize seus gastos por categorias personalizadas</p>
        </div>
        <div class="flex-1 h-px bg-cinza w-md my-3"></div>
        <div class="flex items-center gap-3">
            <div class="bg-verde-suave rounded-full w-13 h-13 flex justify-center items-center">
                <i class="pi pi-credit-card text-verde text-3xl!" aria-hidden="true"></i>
            </div>
            <p>Gerencie contas e cartões em um único lugar</p>
        </div>
        <div class="flex-1 h-px bg-cinza w-md my-3"></div>
        <div class="flex items-center gap-3">
            <div class="bg-verde-suave rounded-full w-13 h-13 flex justify-center items-center">
                <i class="pi pi-wallet text-verde text-3xl!" aria-hidden="true"></i>
            </div>
            <p>Veja seu saldo atualizado a qualquer momento</p>
        </div>
        <div class="flex-1 h-px bg-cinza w-md my-3"></div>
        <div class="flex items-center gap-3">
            <div class="bg-verde-suave rounded-full w-13 h-13 flex justify-center items-center">
                <i class="pi pi-calendar text-verde text-3xl!" aria-hidden="true"></i>
            </div>
            <p>Acompanhe compras parceladas de forma automática</p>
        </div>
    </section>
    <figure class="hidden 2xl:relative 2xl:flex 2xl:justify-center 2xl:items-center">
        <div
            class="absolute min-w-150 h-150 xl:rounded-full bg-radial from-azul-suave/90 via-azul-suave/0 dark:from-azul/30 dark:via-azul-suave/0 to-transparent"
        ></div>
        <img
            src="images/carteira.png"
            class="h-[clamp(26rem,28vw,32.5rem)] object-contain z-10"
            alt=""
        />
    </figure>
</aside>
