<aside class="flex justify-center items-center w-full h-full">
    <div class="flex items-center justify-center">
        <section class="w-full grid justify-start ml-10">
            <h2 class="font-bold text-md text-start text-4xl">
                Organize suas finanças<br />
                de forma
                <span class="text-verde"
                    >simples<br />
                    e inteligente.</span
                >
            </h2>
            <p class="text-cinza text-start text-lg mt-3">
                Acompanhe seus gastos, crie categorias<br />
                e tenha controle total do seu dinheiro<br />
                de onde estiver.
            </p>

            <div class="flex items-center gap-3 mt-10">
                <div class="bg-verde-claro rounded-full w-13 h-13 flex justify-center items-center">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        fill="none"
                        class="w-10 h-10 text-verde"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                        <g id="SVGRepo_iconCarrier">
                            <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                            <path d="M9 12l2 2 4-4"></path>
                        </g>
                    </svg>
                </div>
                <p>
                    Seus dados protegidos<br />
                    com segurança
                </p>
            </div>
            <div class="flex-1 h-px bg-cinza w-65 my-3"></div>
            <div class="flex items-center gap-3">
                <div class="bg-verde-claro rounded-full w-13 h-13 flex justify-center items-center">
                    <i class="pi pi-chart-bar text-verde text-3xl!"></i>
                </div>
                <p>
                    Relatórios e gráficos<br />
                    completos
                </p>
            </div>
            <div class="flex-1 h-px bg-cinza w-65 my-3"></div>
            <div class="flex items-center gap-3">
                <div class="bg-verde-claro rounded-full w-13 h-13 flex justify-center items-center">
                    <i class="pi pi-mobile text-verde text-3xl!"></i>
                </div>
                <p>
                    Acesse de qualquer lugar,<br />
                    a qualquer momento
                </p>
            </div>
        </section>
    </div>
    <figure class="grid justify-start">
        <img src="images/Imagem_Resumo.png" class="h-100 object-contain hidden lg:block" alt="" />
    </figure>
</aside>
